h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
:root {
  color-scheme: dark; /* both supported */
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
 
  a {
    color: #809fff;
  }
}
